{% extends 'base.html.twig' %}
{% block body %}
    <main role="main" class="big">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading"><em>{{ winner.user }}</em> tweeted:</h1>
                <p class="lead text-muted">{{ winner.text }}</p>
                <small><a href="https://twitter.com/user/status/{{ winner.id }}">{{ winner.date }}</a></small>
            </div>
        </section>
    </main>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for tweet in tweets %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{ tweet.text }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-danger"><a href="https://twitter.com/user/status/{{ tweet.id }}">{{ tweet.date }}</a></small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ tweet.user }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
