{% extends 'base.html.twig' %}
{% set bodyClasses="text-center" %}
{% block body %}
    <form class="form-signin" action="{{ path('results') }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Buscar Tweet</h1>
        <label for="query" class="sr-only">Hashtag para hoy: #</label>
        <input type="text" id="query" name="query" class="form-control" placeholder="hashtag" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
        {% if error == 'NO_RESULTS' %}
            <div class="badge badge-danger">No results. Try again.</div>
        {% endif %}
    </form>

{% endblock %}
